.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
/* Header block */
.header {
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background: #f2f2f2;
  /* выше установили ограничения для секции */
}
.logo{
  height: 32px;
  width: 228px;
}
.logo_place_header{
  position: absolute;
  top: 30px;
  left: 64px;
  background: url('../images/logo_place_header.svg');
  z-index: 2;
}
.header__title{
  margin: 0;
  margin-left: 64px;
  align-self: center;
  max-width: 730px;
  width: 100%;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  z-index: 2;
}
.header__subtitle{
  margin: 0;
  position: absolute;
  max-width: 388px;
  width: 100%;
  left: 64px;
  bottom: 30px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  z-index: 2;
}
.header__link{
  text-decoration: none;
  color: #2f80ed;
}
.header__main-illustration{
  height: 608px;
  width: 765px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
}
/* Description block */
.description{
  display: flex;
  justify-content: center;
  margin: 100px auto;
}
.two-columns{
  display: flex;
  justify-content: space-between;
  width: 80%; 
}
.two-columns__brief{
  max-width: 175px;
  width: 100%;
  margin: 0;
  line-height: 1.2;
  color: #2f80ed;
  font-size: 18px;
  font-weight: normal;
}
.two-columns__paragraph{
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}
.two-columns__paragraph:last-child{
  margin-bottom: 0px;
}
.two-columns__span-accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}
.two-columns__main-text{
  width: 80%;
  min-width: 784px;
}
.paragraph_margin_bottom{
  bottom: 30px;
 }
 /* Digits block */
.digits{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
}
.section-title{
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin: 0px;  
}
.section-subtitle{
  margin-top: 20px;
  margin-bottom: 0px;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}
.table{
  padding: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin: 0px auto 0px;
}
.table__cell{
  margin: 0;
  padding: 0;
  width: 250px;
  margin-top: 60px;
}
.table__heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding: 0;
 }
.table__text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
 }
 /* Feynman block */
.feynman{
  position: relative;
  min-height: 890px;
  background: no-repeat bottom left/867px 637px url('../images/feynman.png') #f2f2f2;
  margin: 0;
 }
.feynman__title{
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  max-width: 648px;
  width: 100%;
  padding-top: 100px;
  margin: 0 auto 70px;
  text-align: center;
}
.feynman__subtitle{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  padding: 0;
  margin: 0 auto;
  text-align: center;
  max-width: 400px;
  width: 100%;
}
.feynman__link{
  text-decoration: none;
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed; 
}
/* Kaufman block*/
.kaufman{
  padding: 0;
  position: relative;
  overflow: hidden;
  background: #1f1f1f;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto;
  margin-bottom: 0px;
 }
.table_theme_dark{
  margin: 0px auto 90px;
}
.section-title_theme_dark{
  color: white;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  text-align: center;
  margin: 0px;
  padding-top: 90px;
  z-index: 1;
}
.section-subtitle_theme_dark{
  padding-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  margin: 0;
  color: white;
  z-index: 1;
 }
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
  z-index: 1;
}
.table__text_theme_dark{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
  z-index: 1;
}
.table__heading_theme_dark{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  z-index: 1;
}
.kaufman__triangle{
  margin: 0;
  padding: 0;
  position: absolute;
  background: no-repeat right -210px top 0px/877px 877px url('../images/kaufman-triangle.svg');
  width: 877px;
  height: 877px;
  right: 0px;
  top: 0px;
  z-index: 0;
}
/* Footer block */
.footer{
  background: #1f1f1f;
  color: white;
  min-height: 350px;
  margin: 0;
  display: flex;
  align-items: center;
}
.footer__columns{
  display: flex;
  width: 90%;
  min-height: 250px;
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.footer__column_content_copyright{
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo_place_footer{
  background: url('../images/logo_place_footer.svg');
}
.footer__author{
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer__social_icon{
  width: 16px;
  padding-right: 10px;
}
.footer__column-heading{
  padding: 0;
  margin-bottom: 20px;
  margin-top: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}
.footer__column-link{
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  min-height: 10px;
}
.footer__column-links{
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 16px;
}